#main-container {
  overflow-x: hidden;
}
/* Custom styling for file input */
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  cursor: inherit;
  display: block;
}

#controls-wrapper {
  min-height: 30vh;
}
#canvas-wrapper {
  background-image: linear-gradient(#343a40 0.05rem, transparent 0.05rem),
    linear-gradient(90deg, #343a40 0.05rem, transparent 0.05rem);
  background-size: 0.7rem 0.7rem;
}
